<div class="carousel slide" data-ride="carousel" id="carouselLink">
    <ul class="carousel-indicators">
        <li data-target="#carouselLink" data-slide="0" class="active"></li>
        <li data-target="#carouselLink" data-slide="1"></li>
        <li data-target="#carouselLink" data-slide="2"></li>
        <li data-target="#carouselLink" data-slide="3"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/banner/banner01.JPG" class="w-100" />
            <div class="carousel-caption">
                <h3>線上直播</h3>
                <p>線上直播課程，授課學習零距離接觸</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/banner/banner02.JPG" class="w-100" />
            <div class="carousel-caption">
                <h3>實體課程</h3>
                <p>實體課程，王牌名師親授超級技巧</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/banner/banner03.JPG" class="w-100" />
            <div class="carousel-caption">
                <h3>前後端整合</h3>
                <p>前端、後端、APP、雲端、資料層一次整合實作完成系統</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/banner/banner04.JPG" class="w-100" />
            <div class="carousel-caption">
                <h3>跨界整合</h3>
                <p>IT、餐飲、零售、醫療系統整合雲端，最實務系統建置課程</p>
            </div>
        </div>
    </div>
    <a href="#carouselLink" class="carousel-control-prev" data-slide="prev" role="button">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a href="#carouselLink" class="carousel-control-next" data-slide="next" role="button">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

